# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Build outputs
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Client
client/node_modules/
client/dist/
client/dist-ssr/
client/*.local

# Server
server/node_modules/
server/data/*.csv
server/data/*.zip
server/dist/
